<h1>Edit Address</h1>

<%= form_with model: @address, local: true do |form| %>
  <div class="field">
    <%= form.label :colony %>
    <%= form.text_field :colony, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :pincode %>
    <%= form.text_field :pincode, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Save Changes", class: "button primary" %>
  </div>
<% end %>

<%= link_to "Back to Addresses", addresses_path, class: "button secondary" %>
